.container {
  background-color: #fbfbfb;
  width: 100%;
  padding: 0px;
}
.header-section {
  height: 170px;
  background-color: #ededed;
  padding-top: 30px;
}
#main-heading {
  margin-top: 0px;
  text-align: center;
  color: #636363;
}
.filter-section {
  padding: 40px 20px 20px 50px;
}
.product-filter > select, .search-btn {
  height: 30px;
  background-color: #fbfbfb;
}
.product-filter > select {
  padding: 0px 5px 0px 10px;
}
.search-btn {
  border: 1px solid rgb(169, 169, 169);
  margin-right: 30px;
  padding: 0px 10px;
}
.input-field {
  height: 30px;
}
.hide-option {
  display:none;
  visibility:hidden;
  height:0;
  font-size:0;
}
.sort-dropdown {
  margin-right: 30px;
}
